//
// Variables settings in case there's no default given
//
// Default value for gpxviewer-theme is set to the bootstrap_package 12 default
$PS_height:		400px !default;		/* Height of PhotoStation CE */
$PS_width:		600px !default;		/* Width of PhotoStation CE */
$PS_bg_color:		#333 !default;		/* Background color of PhotoStation CE */
$PS_padding:		3px !default;		/* Padding of PhotoStation CE */
