/*
 * wok_photostation
 */
/* Bootstrap */
/* position has to be static when Photo Station will be used. Otherwise the lightbox will be displayed at the position of the last "relavitve" element */

/* This is needed for Bootstrap_package 8.0.6 */
.col-md-3, .col-md-9 {
	position: static;
}
/* This is needed for Bootstrap_package 10.0.5 */
.frame-container, .frame-inner, .frame {
	position: static;
}

/* PhotoStation */
#photos {
    width: calc(600px / 2);
    height: calc(400px / 2);
    background-color: #333;
    padding: 3px;
    z-index: 1100
}

@media (max-width: 767px) {
    #photos {
        width: 100%;
        height: calc(400px * 0.57)
    }
}

@media (min-width: 768px) and (max-width:991px) {
    #photos {
        width: calc(600px * 0.83);
        height: calc(400px * 0.57)
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    #photos {
        width: 600px;
        height: 400px
    }
}

@media (min-width: 1200px) {
    #photos {
        width: 600px;
        height: 400px
    }
}
